#editor{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
#sidePanel{
}
#openSidePanelButton {
    background:white;
    padding:5px;
    position:fixed;
    right:10px;
    top:10px;
}

#closeSidePanelButton {
    background:white;
    padding:5px;
    position:absolute;
    display:inline;
    right:10px;
    top:10px;
}