#editor{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
#sidePanel{
}
#openSidePanelButton {
    padding:5px;
    position:fixed;
    right:10px;
    top:10px;
    height:32px;
    width:32px;
}

#closeSidePanelButton {
    padding:5px;
    position:absolute;
    right:10px;
    top:10px;
    height:32px;
    width:32px;
}
