<!doctype html>
<html lang="en">
<head>
    <title><%= docId %> - Pear Programming</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.pageslide.css"/>
    <link rel="stylesheet" type="text/css" href="/css/document.css"/>
    <script src="/js/lib/jquery-2.1.0.min.js"></script>
    <script src="/js/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/document.js"></script>
    <script>
        // set global variables
        var docId = "<%= docId %>";
        var centralHostPort = "<%= centralHostPort %>";
    </script>
</head>
<body>
    <div id="editor"></div>
    <span id="openSidePanelButton" class="btn btn-warning">&#10010;</span>
    <div id="sidePanel" style="display:none">
        <span id="closeSidePanelButton" class="btn btn-warning">&#10006</span>
        <div class="titleContainer">
            <img class="titleImg" src="/img/pear.png">
            <h1 class="title">Pear Programming</h1>
        </div>
        <h1 class="docName"><%= docId %></h1>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="chatContent"></div>
            </div>
            <div class="panel-body">
                <input class="chatInput" type="text" autocomplete="off" placeholder="Type here to chat..." onkeyup="chatInputKeyUp()">
            </div>
        </div>
    </div>
    <script src="/js/lib/jquery.pageslide.min.js"></script>
</body>
</html>
