<!doctype html>
<html lang="en">
<head>
    <title><%= docname %></title>
    <link rel="stylesheet" type="text/css" href="/css/jquery.pageslide.css"/>
    <link rel="stylesheet" type="text/css" href="/css/document.css"/>
    <script src="/js/lib/jquery-2.1.0.min.js"></script>
    <script src="/js/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/document.js"></script>
</head>
<body>
    <div id="editor">

    </div>
    <div href="#sidePanel" id="openSidePanelButton">X</a>
    <div id="sidePanel" style="display:none">
        <h2>Modal</h2>
        <p>This slide uses "modal" option set to "true". When using a modal pageslide, clicking on the main window will not close the window. You must explicitly call <code>$.pageslide.close()</code>.</p>
        <p><a href="javascript:$.pageslide.close()">Close</a></p>
    </div>
    <script src="/js/lib/jquery.pageslide.min.js"></script>
</body>
</html>
