<!DOCTYPE html>
<html lang="en">
<head>
<title>ACE in Action</title>
<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .titleImg{
        float:left;
        margin-right:5px;
    }
    .title{
        font-size:50px;
        color:#00CC00;
        font-family:"consolas","Lucida Console", Monaco, monospace;
    }
</style>
</head>
<body>
<div class="titleContainer">
    <img class="titleImg" src="/img/pear.png">
    <h1 class="title">Pear Programming</h1>
    <input type="text" placeholder="Enter a document name..." onkeyup="if (event.keyCode == 13) {window.location = '/' + event.target.value}"
</div>
</body>
</html>